# ================================
# LLM PROVIDER (GROQ via OpenAI API)
# ================================

# Model (change anytime easily)
# LLM_MODEL=openai/gpt-oss-120b


# ================================
# LANGSMITH TRACING
# ================================

LANGSMITH_TRACING=true
LANGSMITH_API_KEY=Your_API_Key
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_PROJECT=Your_Project_Name


# ================================
# OPTIONAL (NOT USED NOW)
# ================================

# ANTHROPIC_API_KEY=
# AZURE_OPENAI_API_KEY=
# AZURE_OPENAI_ENDPOINT=
# AWS_ACCESS_KEY_ID=
# AWS_SECRET_ACCESS_KEY=
# AWS_REGION=


# Gemini

GEMINI_API_KEY=Your_API_Key
LLM_MODEL=gemini-2.5-flash-lite

GOOGLE_APPLICATION_CREDENTIALS=credentials.json


# venv
# .venv\Scripts\activate
